@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Gris oscuro de fondo */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #10b981; /* Verde brillante */
  border-radius: 8px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #34d399; /* Verde más claro al pasar el mouse */
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #1f2937;
}